:root {
    --empty-cell-color:#d4e2fc;
    --food-cell-color:yellow;
    --snake-cell-color:red;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

.empty {
    background: var(--empty-cell-color);
}

.snake {
    background: var(--snake-cell-color);
}

.food {
    background: var(--food-cell-color);
}

#game-container {
    background: #75aaff;
    position: relative;
}

#game-over-display {
    background: red;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in;
    z-index: 2;
}

#game-over-text {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    z-index: -1;
}

#pause-btn-wrapper {
    position: absolute;
    white-space: nowrap;
    z-index: 2;
}

#pause-btn {
    color: grey;
    transition: 0.2s;
}

#pause-btn:hover {
    color: black;

}

#pause-btn-special {
    color: black;
    transition: 0.5s;
}

#pause-btn-special:hover {
    color: whitesmoke;
}


#pause-display {
    background: black;
    opacity: .5;
    position: absolute;
    z-index: -1;

}

#play-again-text {
    color: rgb(100, 100, 100);
    transition: 0.2s;
    text-align: center;
    white-space: nowrap;
    z-index: -1;
    
}

#play-again-text:hover {
    color: #75aaff;
}

#score-display {
    color: black;
    position: absolute;
    z-index: 1;
}

#snake-container {
    display: inline-block;
    position: relative;
}
